include ./header.pug 
form(action="/addvideo", method="post" )
    h1 Add a New Movie 
    input(type="text", placeholder='Movie Title', name='name')
    input(type="text", placeholder='Movie Year' name='year')
    input(type="text", placeholder='Movie Rating' name='rating')
    input(type="submit", value='Submit')
    
    
                         
