doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Movies #{currentPage}
        style 
            include ./style.css
    body 
        h1 Movies #{currentPage}
        div.nav
            a(href="/addvideo") Add Video 
            a(href="/updatevideo") Update Video
    